src/ApiGateway/bin
src/ApiGateway/obj
src/ApiGateway/Properties
src/BuildingBlocks/Common/bin
src/BuildingBlocks/Common/obj
src/BuildingBlocks/EventBus/bin
src/BuildingBlocks/EventBus/obj
src/BuildingBlocks/Infrastructure/bin
src/BuildingBlocks/Infrastructure/obj
src/Services/Auth/Auth.API/bin
src/Services/Auth/Auth.API/obj
src/Services/Auth/Auth.API/Properties
src/Services/Auth/Auth.Domain/bin
src/Services/Auth/Auth.Domain/obj
src/Services/Auth/Auth.Infrastructure/bin
src/Services/Auth/Auth.Infrastructure/obj
src/Services/Notification/Notification.API/bin
src/Services/Notification/Notification.API/obj
src/Services/Notification/Notification.API/Properties
src/Services/Notification/Notification.Domain/bin
src/Services/Notification/Notification.Domain/obj
src/Services/Notification/Notification.Infrastructure/bin
src/Services/Notification/Notification.Infrastructure/obj
src/Services/Payment/Payment.API/bin
src/Services/Payment/Payment.API/obj
src/Services/Payment/Payment.Domain/bin
src/Services/Payment/Payment.Domain/obj
src/Services/Payment/Payment.Infrastructure/bin
src/Services/Payment/Payment.Infrastructure/obj
src/Services/Payment/Payment.API/Properties
src/Services/User/User.API/bin
src/Services/User/User.API/obj
src/Services/User/User.API/Properties
src/Services/User/User.Domain/bin
src/Services/User/User.Domain/obj
src/Services/User/User.Infrastructure/bin
src/Services/User/User.Infrastructure/obj
src/Services/User/User.API/appsettings.Development.json
src/Services/Payment/Payment.API/appsettings.Development.json
src/Services/Notification/Notification.API/appsettings.Development.json
src/Services/Auth/Auth.API/appsettings.Development.json
src/ApiGateway/appsettings.Development.json
